<%- include('include/header.ejs')%>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<body>
    <a href="/users/" style="text-decoration: none; color:black;"><h1 style="text-align: center;">Times of Ambala</h1></a>
    <%- include('include/admin-nav.ejs')%>
    <div class="container mt-5">
        <h2>Add New Category</h2>
        <form action="/admin/add-category" method="post">
          <div class="form-group">
            <label for="nameInput">Category</label>
            <input type="text" class="form-control" name="category" placeholder="Enter Category">
            <input type="checkbox" id="navbar" name="checkbox" value="true">
             <label for="navbar"> Show in nav bar</label><br>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    <%- include('include/footer.ejs')%>